:root {
    --col-accent: #B00000;
}

*, *::after, *::before {box-sizing: border-box;}

a {
    cursor: pointer;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-wrapper {
    z-index: 9999 !important;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--col-accent);
    background-color: white;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.286);
}

.nav-checkbox {display: none;}

.nav-checkbox-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
}

.nav-checkbox-label span {
    display: block; 
    position: relative;
    height: 2px;
    width: 1.25rem;
    transition: transform .4s cubic-bezier(.7,-0.79,.33,1.8);
}

.nav-checkbox-label span::before,
.nav-checkbox-label span::after {
    display: block;
    background-color: black;
    height: 2px;
    width: 1.25rem;
    border-radius: 5px;
    position: relative;
}

.nav-checkbox-label span::before,
.nav-checkbox-label span::after {
    content: '';
    position: absolute;
    transition: transform .4s cubic-bezier(.7,-0.79,.33,1.8),bottom .3s linear .1s, top .3s linear .1s;
}

.nav-checkbox-label span::before {bottom: .2rem;}
.nav-checkbox-label span::after {top: .2rem;}

.fill-container {
    left: 0;
    bottom: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media screen and (min-width: 1000px) 
{

    .nav {
        height: 100%;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) .5fr;

    }

    .logo,
    .nav-contents {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo svg{
        grid-column: 1;
        width: 100px;
    }

    .nav-checkbox-label {display: none}

    .nav-contents {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        grid-column: 3/4;
    }

    .nav-contents li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    .nav-contents li:hover {
        background-color: var(--col-accent);
    }

    .nav-contents li:hover a {
        transform: translateY(-2px);
        color: white;
    }

    .nav-contents > li > a {
        transition:  transform 50ms linear;
        font-size: 1.15rem;
        font-weight: 500;
    }

    .nav-subcontent-parent {
        position: relative;
    }

    .nav-subcontent-parent:hover .chevron::after {
        transform: rotate(135deg);
        top: 0.35em;
    }

    .chevron::after
    {
        transition: transform 150ms ease-out;
        border-style: solid;
        border-width: 0.125em 0.125em 0 0;
        content: '';
        display: inline-block;
        height: 0.35em;
        left: 0.4em;
        position: relative;
        top: 0.45em;
        transform: rotate(-45deg);
        transform-origin: center;
        vertical-align: top;
        width: 0.35em;
    }

    .nav-subcontent-parent:hover ul {
        opacity: 1;
        transform: scale(1);
        transition: transform 0ms linear 150ms, opacity 125ms linear 150ms;
    }

    .nav-subcontent-parent:hover .nav-sub-wrapper {
        transform: translateY(0);

    }

    .nav-sub-wrapper {
        z-index: -1 ;
        transform: translateY(7px);
        position: absolute;
        top: 100%;
        width: 100%;
        height: fit-content;
        transition: transform 300ms ease-out 0ms, opacity 150ms linear;
    }

    .nav-subcontent-parent ul {
        
        transform: scale(0);
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 34px;
        height: fit-content;
        margin: 0;
        padding: 0;
        background-color: var(--col-accent);
        transition: transform 0ms linear 200ms, opacity 150ms linear;
        box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.11);
        border: 2px solid var(--col-accent);
    }

    .nav-subcontent-parent ul li {
        display: block;
        padding: 10px;
        width: 100%;
        height: 100%;
    }


    .nav-subcontent-parent li:hover {
        background-color: white;
    }

    .nav-subcontent-parent li:hover a {
        color: black !important;
    }

    .nav-subcontent-parent ul li a {
        color: white !important;
        font-size: 1.1rem;
        position: relative;
    }

    .nav-contents a {
        cursor: pointer;
        text-decoration: none;
        color: black;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1000px) 
{
    .nav-wrapper {
        height: fit-content;
        border-bottom: none;
        height: 70px;
    }

    .nav {
        border-bottom: 2px solid var(--col-accent);
        height: 100%;
        position: relative;
    }

    .logo{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .logo svg {
        height: 58px;
    }

    .margin-top {
        margin-top: 1px;
    }

    .nav-contents {
        margin: 0;
        padding: 0;
        position: absolute;
        opacity: 0;
        left: 0;
        height: 100vh;
        top: 0;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.98);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(-110vw);
        transition: opacity 350ms ease-out 0ms, transform 350ms ease-out 0ms;
    }

    .nav-contents li {
        list-style-type: none;  
        width: 75%;
        text-align: center;
        padding-top: 20px;
        position: relative;
        padding-bottom: 20px;
        position: relative;
        cursor: pointer;
    }

    .nav-contents > li:hover {
        background-color: var(--col-accent);
        border-radius: 3px;
    }

    .nav-contents  > li:hover > a {
        color: white;
    }

    .nav-contents > li:not(:first-child){
        border-top: 2px dashed rgba(0, 0, 0, 0.055);
    }

    .nav-contents  a {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 350ms linear 0ms;
    } 

    .nav-subcontent-parent {
        position: relative;
    }

    .nav-subcontent-parent:hover ul {
        opacity: 1;
        transform: scale(1);
        transition: opacity 250ms linear;
    }

    .nav-sub-wrapper {
        top: 100%;
        width: 100%;
        transform: scale(0);
        opacity: 0;
        transition: transform 250ms linear 250ms,  opacity 250ms linear 0ms;
    }

    .nav-subcontent-parent ul {
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        transition:  opacity 250ms linear, max-height 250ms linear;
    }

    .nav-subcontent-parent ul li {
        text-align: center;
        padding: 15px;
        position: relative;
        width: 100%;

    }

    .nav-subcontent-parent ul li:first-child {
        margin-top: 20px;
    }

    .nav-subcontent-parent ul a {
        color: black;
        font-size: 1.4rem;
        z-index: 9999;
    }

    .nav-subcontent-parent ul li:hover {
        background-color: var(--col-accent);
    }

    .nav-subcontent-parent ul li:hover a {
        color: white;
    }

    .nav-checkbox:checked ~ .nav-contents{transform: translateX(0);
        opacity: 1;
        transition: opacity 350ms linear 0ms, transform 350ms ease-out 0ms;
    }
    .nav-checkbox:checked ~ .nav-contents a {opacity: 1;
    transition: opacity 350ms linear 0ms;}

    .nav-checkbox:not(:checked):hover ~ .nav-checkbox-label span {transform: scale(1.25);}

    .nav-checkbox:checked ~ .nav-checkbox-label span::before {
        transform: rotate(45deg);
        bottom: 0rem;
    }
/* 
    .mobile-wrapper {
        height: 100%;
        width: auto;
        margin-left: 50%;
        text-align: left;
        position: relative;
    } */

    .nav-checkbox:checked ~ .nav-checkbox-label span::after {
        transform: rotate(-45deg);
        top: 0rem;
    }

    .nav-checkbox:checked:hover ~ .nav-checkbox-label span {transform: scale(1.25);}

    .nav-checkbox:not(:checked) ~ .parent {
        background-color: white !important;
    }

    #navAbout { 
        margin-top: 0;
        transition: margin-top 200ms ease-out 200ms;}

    .margin-top {
        margin-top: 168px !important;
        transition: margin-top 200ms ease-out 0ms !important;
    }
    
    .rotate {
        transform: rotate(-45deg) scale(1.25);
    }

    .children {
        opacity: 1 !important;
        transform: scale(1) !important;
        transition: opacity 250ms linear 250ms, transform 250ms linear 0ms;
    }

    .parent {
        background-color: var(--col-accent);
        border-radius: 3px;
    }
    .parent > a {
        color: white;
    }
}

.hero {
    height: 87.5vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    position: absolute;
    background-position: center;
    background-size: cover; 
    min-height: 100%;
    min-width: 100%;
    image-rendering: auto;
    filter: blur(0px) grayscale(100%);
    -webkit-filter: blur(0px) grayscale(95%);
    z-index: -99;
}

.hero-img-overlay {
    position: absolute;
    /* background-color: rgb(0, 238, 255);
    opacity: 0.03; */
    width: 100%;
    height: 100%;
    z-index: -98;
}

.hero-container {
    transition: width 100ms linear;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem; */
    width: 50%;
    background-color: rgba(62, 62, 62, 0.65);
    padding: 50px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.728);
    border-radius: 10px !important;
}

.hero-header,
.hero-text,
.hero-contact {
    color: white;
    text-align: center;
}

.hero-header {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.hero-contact-wrapper {
    border-radius: 50px 50px 50px 50px;
    background-color: var(--col-accent);
    width: 180px;
    height: 50px;
    margin: auto;
    padding: 2px;
    position: relative;
    box-shadow: 0px 10px 24px rgb(0 0 0 / 0.5);  
    margin-top: 40px;
}

.hero-contact {
    border-radius: inherit;
    background-color: var(--col-accent);
    height: 100%;
    width: 100%;
    transition: background-color 100ms linear;
}

.hero-contact a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-contact p {
    color: white;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    letter-spacing: 0.3px;
    transition: color 100ms linear;
}

.hero-contact-wrapper:hover .hero-contact{
    background-color: white;
}

.hero-contact-wrapper:hover p{
    color: var(--col-accent)
}

@media screen and (max-width: 1300px) 
{
    .hero-container {
        width: 65%;
    }


    .hero-header {
        font-size: 4.25rem;
    }
    
    .hero-text {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 900px) 
{
    .hero-container {
        gap: 1.5rem;
        width: 75%;
        padding: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact-info-bar ul {
        width: 100% !important;
    }
    .contact-info-bar h5 {
        font-size: 1.35rem !important;
    }
    .contact-info-bar p {
        font-size: 1.5rem !important;
    }

}

@media screen and (max-width: 800px)
{
    .contact-info-bar h5 {
        font-size: 1.1rem !important;
    }
    .contact-info-bar p {
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 680px)
{
    .contact-info-bar h5 {
        font-size: 1rem !important;
    }
    .contact-info-bar p {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 600px) 
{
    .hero-container {
        width: 85%;
        padding: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .hero-header {
        font-size: 3rem;
    }
    
    .hero-text {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 1px;
    }
    .hero-contact {
        transition: transform 100ms linear, box-shadow 150ms linear;
    }
}

.contact-info-bar
{
    height: 12.5vh;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    position: relative;
}

.contact-info-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    height: 100%;
    padding: 0;
}

.contact-info-bar li {
    width: 33.333%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.contact-info-bar li:not(:last-child):after {
    content: '';
    background-color: var(--col-accent);
    width: 1px;
    right: 0;
    top: 20%;
    position: absolute;
    height: 60%;
}

.contact-info-bar h5 {
    font-size: 1.4rem;
    margin: 0;
}

.contact-info-bar p {
    color: var(--col-accent);
    margin: 0;
    font-size: 1.55rem;
    margin-top: 5px;
}

.contact-info-bar .info-bar-text {
    text-align: center;
}

.about-wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.about-wrapper img {
    position: absolute;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    image-rendering: auto;
    filter: blur(0px) grayscale(90%);
    -webkit-filter: blur(3px) grayscale(90%);
    z-index: -99;
}

.about-img-overlay
{
    position: absolute;
    background-color: rgb(243, 243, 243);
    opacity: 0.90;
    width: 100%;
    height: 100%;
    z-index: -98;
}

.container-text {
    width: 75%;
    margin: auto;
    margin-top: 125px;
}

.container-text h3 {
     text-align: center;
     font-size: 3rem;
     color: rgb(36, 36, 36);
     margin-top: 50px
}

.container-text p {
    font-size: 1.425rem;
    font-weight: 500;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgb(39, 39, 39);
}

.container-cards {
    width: 75%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    height: 350px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1400px ){
    .container-cards { 
        width: 90%;
    }
    
}

@media screen and (max-width: 1200px ){
    .container-cards { 
        width: 100%;
    }
    
}

@media screen and (max-width: 1000px) {
    .container-cards { 
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        height: fit-content;
    }
}

@media screen and (max-width: 1000px) {
    .card-mobile-wrap {
        display: block;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card {
    width: 325px;
    background-color: #B00000;
    transition: height 500ms ease-out, background-color 250ms linear;
    overflow: hidden;
    height: 250px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: relative;
    border: 3px solid #B00000;
    text-align: center;
    cursor: pointer;
    padding-left: 15px ;
    padding-right: 15px;
    will-change: height;
}

@media screen and (max-width: 1120px ){
    .card {
        width: 285px;
    }
    
}

@media screen and (max-width: 1000px){
    .card {
        width: 52.5%;
        margin: 15px;
    }
    
}

@media screen and (max-width: 700px){
    .card {
        width: 65%;
    }
    
}

@media screen and (max-width: 550px){
    .card {
        width: 80%;
    }
    
}

.card p,
.card h4 {
    color: white;
}

.card.engaged p,
.card.engaged h4 {
    color: black;
}

.card.engaged {
    height: 400px;
    background-color: white;
}

/* .card.engaged h4 {
    transform: translateY(60px);
} */

.card.engaged .chevron-card {
    transform: rotate(135deg);
    border-color: black;
}

.card.engaged p {
    opacity: 1;
    transform: translateY(0px);
}

.card.engaged .title-wrap {
    background-color: white;
}

.title-wrap {
    position: relative;
    height: 150px;
    width: 100%;
    z-index: 1;
    background-color: #B00000;
    transition:  background-color 250ms linear;
}

@media screen and (max-width: 550px) {
    .title-wrap {
        height: 135px;
    }
}

.card h4 {
    display: block;
    width: fit-content;
    margin: 0;
    margin: auto;
    transform: translateY(102px);
    transition: transform 500ms ease-out, color 250ms linear;
    font-size: 1.5rem;
}

.card p {
    font-size: 1.1rem;
    opacity: 0  ;
    z-index: -1;
    padding: 0;
    text-align: center;
    margin: 0;
    transform: translateY(-165px);
    transition: transform 500ms ease-out, opacity 500ms ease-out, color 250ms linear;
}

.card .chevron-card {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    border-radius: 1px;
    position: absolute;
    height: 1em;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 1em;
    bottom: 20px;
    margin-left: -0.5em;
    border-color: white;
    transition: transform 500ms, border-color 250ms linear;
}

.services-wrapper {
    width: 100%;
    height: fit-content;
    background-color: var(--col-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-wrapper .container-text {
    margin-top: 50px;
    margin-bottom: 50px;
}


.white h3{
    color: white !important;
    letter-spacing: 1px;
    margin-top: 75px
}

.services-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap !important;
    gap: 25px;
    row-gap: 50px;
    min-width: 75%;
    max-width: 75%;
    margin-bottom: 100px;
    position: relative;
}

.services-cards .hero-contact-wrapper {
    background-color: var(--col-accent);
    margin: 0px auto;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 20%);
    margin-top: 10px;
    min-height: 50px !important;
}

.services-cards .hero-contact-wrapper:hover .hero-contact {
    background-color: white;
}

.services-cards .hero-contact-wrapper:hover p {
    color: var(--col-accent)
}

.services-cards .hero-contact {
    background-color: var(--col-accent)
}

.services-cards .hero-contact-wrapper p {
    color: white
}

.card-wrap {
    height: min-content;
    width: 350px;
    transition: transform 300ms ease-out, background-color 500ms ease-out, box-shadow 300ms ease-out;
    padding: 25px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 20px rgb(0 0 0 / 25%);
}

@media screen and (max-width: 966px) {
    .card-wrap {
        width: 85%;
    }
    
}

@media screen and (max-width: 650px) {
    .card-wrap {
        width: 100%;
        height: fit-content;
    }
    
}

.card-wrap:hover {
    z-index: 99;
    transform: scale(1.05);
    box-shadow: 0px 16px 64px rgb(0 0 0 / 25%);
}

.card-wrap span {
    display: block;
    width: fit-content;
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    margin: auto !important;
}

.card-wrap h4 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
}

.card-wrap p {
    font-size: 1.1rem;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: center;
    color: black;
}

.footer-wrapper {
    width: 100%;
    height: 40vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -12px 64px rgba(0, 0, 0, 0.35);
}

.footer-wrapper .logo {
    height: fit-content;
    width: fit-content;

}

.footer-wrapper .logo svg {
    color: white !important;
}

.footer-wrapper * {
    color: white;
}